# Compiler files
cache/
out/**/
!out/DefaultCollateralFactory.sol/
!out/DefaultCollateral.sol/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Other files
.gas-snapshot
lcov.info